pre{ word-break: break-all; white-space: normal  }
a, a:hover { color: #158cba }
/*.navbar-brand { font-size: 2em }*/
.navbar { background: #222 }
.navbar-brand {  color: #fff !important }
.homepage ul { font-size: 2em }

.btn-success, .btn-primary, .btn-primary:hover { background: #000 }

.results { text-align: center }
.results h2 { margin-bottom: 1em }
.results ul { list-style: none; padding-left: 0 }
.results button { margin: 1em 0  }

.question .opt { margin-bottom: 5em }

.navbar-header {
    float: left;
    padding: 22px 15px 15px 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}
