extend layout

block content
  .container.homepage
    h2 Latest Questions
    ul
      for question in questions
        li
          a(href="/q/"+question.id) #{ question.text }
          | &mdash; #{ round(+formatSatoshis(question.total_weight/144), 0.01) } #[abbr(title='Bitcoin Days Locked') BDL]
