extend layout

block content
  .container.homepage
    p #[strong HODL.voting] is a #[a(href='https://github.com/bitcoin/bips/blob/master/bip-0112.mediawiki') CHECKSEQUENCEVERIFY]-based time-lock-weighted
      |  voting system that gives provable long-term bitcoin HODLers a way to express their opinion on proposed protocol upgrades.
      |  See #[a(href="https://github.com/shesek/proof-of-hodl") the readme on GitHub] for more details.
    p #[em Alpha quality software], currently running on testnet.
    hr
    ul
      for question in questions
        li
          a(href="/"+question.slug) #{ question.text } 
          | &mdash; #{ round(+formatSatoshis(question.total_weight/144), 0.01) } #[abbr(title='Bitcoin Days Locked') BDL]
    //-.text-center.btns
      a.btn.btn-default(href='mailto:nadav+hodl.voting@bitrated.com') Suggest questions
      = ' '
      a.btn.btn-default(href='https://github.com/shesek/proof-of-hodl') Source &amp; README
