extend layout

block content
  .container.homepage
    ul
      for question in questions
        li
          a(href="/"+question.slug) #{ question.text } 
          | &mdash; #{ round(+formatSatoshis(question.total_weight/144), 0.01) } #[abbr(title='Bitcoin Days Locked') BDL]
