.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal'): span(aria-hidden='true') &times;
        h4.modal-title Vote Deposit
      .modal-body
        p.text-center Send #[strong= amount] BTC to #[strong= lockbox.address]
        .text-center
          img.center-block(src=pay_qr)
          a.btn.btn-primary(href=pay_uri) Send Payment

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
